<style media="screen">
  .span{
    color: #575757;
    font-size: 30px;
  }
</style>

<!-- <p id="notice"><%= notice %></p> -->
<div align="center" style="padding:50px">
  <h3><a  href="#">關於</a></h3>
    <hr>
<p class="sapn">這是一個由<b>世新轉學生</b>發起的課程心得分享平台</p>

<!-- <p>你可以在這裡：<br>
1. 評論關於你所上過的課程 <br>
2. 老師的教學習慣<br>
3. 考試法則與算分方式<br>
</p> -->

<p>因為你的一份心得填寫，使世新偉大！</p>

請世新的大家廣傳使用！<br>
有任何問題請按上方的<b>「問題/意見」</b>

    <hr>
<p>開放原始碼：<br><a href="https://github.com/acer1456/classComment">https://github.com/acer1456/classComment</a></p>
<p>&copy 選課世新 SHU Course Beta 1.0 Version<br>
  Developed by Wei & Kevin</p>
</div>

</div>
