<style media="screen">
  .span{
    color: #575757;
    font-size: 30px;
  }
</style>

<script type="text/javascript">
function hide() {

var elements = document.getElementsByTagName("span");
elements = removeClass("hidden");

}}}
</script>

<!-- <p id="notice"><%= notice %></p> -->
<div align="center">
  <h3><a  onClick="hide()" href="#" >關於</a></h3>
    <hr>
<span class="span" hidden>
選課是一件人生大事，馬虎不得<br>
我們製作這個平台，只為世新，祝大家服用後：<br><br>
一三五沒課<br>
二四混混過<br>
選課不煩惱<br>
每學期歐趴<br><br>

從此以後，讓你學期太平<br>
安心繳費讀四年。
</span>

<p>開放原始碼：
<a href="https://github.com/acer1456/classComment">https://github.com/acer1456/classComment</a>
</p>

<p>made by Wei & Kevin</p>



</div>

<!-- <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#uShouldKnow" role="tab" data-toggle="tab"><b>你需要知道的事</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#orangzation" role="tab" data-toggle="tab"><b>協助單位</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#team" role="tab" data-toggle="tab"><b>製作團隊</b></a>
  </li>
</ul> -->

<!-- <div class="tab-content">

  <div role="tabpanel" class="tab-pane fade in active" id="uShouldKnow">
    <div class="container">

    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="orangzation">
    <div class="container">

    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="team">
    <div class="container">

    </div>
  </div> -->

</div>
